{% extends "main/layout.html" %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="theme_title_color">#</th>
            <th scope="col" class="theme_title_color">Name</th>
            <th scope="col" class="theme_title_color">Created On</th>
            <th scope="col" class="theme_title_color">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for client in results.items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ client.name }}</td>
                <td>{{ client.date_created.strftime("%b %m %Y") }}</td>
                <td>{{ client.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}



