{% extends "main/layout.html" %}
{% block body %}
    <div class="jumbotron md">
        <form action="{{ request.path }}" method="post">
            {{ form.csrf_token }}
            <div class="col-md-12">
                <img class="center-block" src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="200px">
                <h2 class="text-center form_title theme_title_color">Login</h2>
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <label for="{{ form.username.name }}">{{ form.username.label.text }}</label><br>
                {{ form.username(class="form-control", placeholder="Username / Email Address") }}
                {% if form.username.errors %}
                    {% for e in form.username.errors %}
                        <small class="text-danger">{{ e }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <label for="{{ form.password.name }}">{{ form.password.label.text }}</label><br>
                {{ form.password(class="form-control", placeholder="Password") }}
                {% if form.password.errors %}
                    {% for e in form.password.errors %}
                        <small class="text-danger">{{ e }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <button class="btn btn-md theme_btn text-center" type="submit">Login <i class="fa fa-thumbs-up"></i>
                </button>
            </div>
            <div class="col-md-12 text-center">
                {% if next_url %}
                <span>Don't Have an account? <a href="{{ url_for('.signup',next=next_url) }}">Click Here</a> to Sign Up</span>
                {% else %}
                <span>Don't Have an account? <a href="{{ url_for('.signup') }}">Click Here</a> to Sign Up</span>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock body %}