{% extends "main/layout.html" %}
{% block body %}
    <div class="jumbotron md">
        <form action="{{ request.path }}" method="post">
            {{ form.csrf_token }}
            <div class="col-md-12">
                <img class="center-block" src="{{url_for('static', filename='logo.png')}}" alt="Logo" width="200px">
                <h2 class="text-center form_title theme_title_color">Join the Team</h2>
            </div>
            <div class="form-group col-md-12">
                <label for="{{ form.name.name }}">{{ form.name.label.text }}</label><br>
                {{ form.name(class="form-control", placeholder="Full Name (FirstName LastName)") }}
                {% if form.name.errors %}
                    {% for e in form.name.errors %}
                       <small class="text-danger">{{ e }}</small>
                    {% endfor %}

                {% endif %}
            </div>
            <div class="form-group col-md-12">
                <label for="{{ form.email.name }}">{{ form.email.label.text }}</label><br>
                {{ form.email(class="form-control", placeholder="Enter Valid Email Address") }}
                {% if form.email.errors %}
                    {% for e in form.email.errors %}
                       <small class="text-danger">{{ e }}</small>
                    {% endfor %}

                {% endif %}
            </div>
            <div class="form-group col-md-12">
                <label for="{{ form.username.name }}">{{ form.username.label.text }}</label><br>
                {{ form.username(class="form-control", placeholder="Enter Username") }}
                {% if form.username.errors %}
                    {% for e in form.username.errors %}
                       <small class="text-danger">{{ e }}</small>
                    {% endfor %}

                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.new_password.name }}">{{ form.new_password.label.text }}</label><br>
                {{ form.new_password(class="form-control", placeholder="Enter a secured password") }}
                {% if form.new_password.errors %}
                    {% for e in form.new_password.errors %}
                       <small class="text-danger">{{ e }}</small>
                    {% endfor %}

                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.verify_password.name }}">{{ form.verify_password.label.text }}</label><br>
                {{ form.verify_password(class="form-control", placeholder="Confirm Password") }}
                {% if form.verify_password.errors %}
                    {% for e in form.verify_password.errors %}
                       <small class="text-danger">{{ e }}</small>
                    {% endfor %}

                {% endif %}
            </div>

            <div class="form-group col-md-12">
                <button class="btn btn-md theme_btn text-center" type="submit">SignUp <i class="fa fa-thumbs-up"></i></button>
            </div>
        <div class="clearfix"></div>
        </form>
    </div>
{% endblock body %}